/* Sadržaj glavnog dijela stranice */
main {
    width: 100%;
    padding: 0px;
    margin-left: 12em; /* Prostor za sidebar */
}

/* Sidebar */
.sidebar {
    background: #212529;
    color: #fff;
    width: 12em; /* Postavi širinu sidebar-a */
    max-height: 100vh;
    transition: all 0.5s;
    position: fixed;
    overflow-y: auto;
    top: 0; /* Fiksiraj na vrhu */
    left: 0; /* Fiksiraj na lijevoj strani */
    bottom: 0; /* Osiguraj da bude duž cijelog ekrana */
}

/* Ostatak CSS-a ostaje isti */
.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo {
    font-size: 30px;
}
.bars {
    display: flex;
    font-size: 25px;
    margin-left: 0;
}
.sidemenulink {
    display: flex;
    color: #fff;
    padding: 10px 10px;
    gap: 10px;
    transition: all 0.5s;
    text-decoration: none;
}
.sidemenulink:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active {
    background: lightskyblue;
    color: #000;
}
.icon, .link_text {
    font-size: 17px;
    margin: 5px 3px;
}
