h1, h2{
    color: #00d1b2
}
.userProfilePage__container {
    display: flex;
}

.userProfilePage__sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.userProfilePage__content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e0f7fa;
}

.userProfilePage__content--table {
    width: 60%;
    border-collapse: collapse;
    background: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    color: #e0f7fa;
}

.userProfilePage__content--table td {
    padding: 15px;
    border: 1px solid lightskyblue;
    text-align: left;
    font-size: 16px;
}

.userProfilePage__content--table tr:nth-child(even) {
    background-color: #2a2a2a;
}

.userProfilePage__content--table tr:first-child td {
    font-weight: bold;
    background:lightskyblue;
    color: #212529;
}