.instructorAddCoursePage__container {
    display: flex;
}

.instructorAddCoursePage__sidebar {
    position: sticky;
    top: 0;
    flex: 0.01;
    height: 100vh;

}

.instructorAddCoursePage__content {
    margin: 5px;
    padding: 8px;
    flex: 0.99;
}

.instructorAddCoursePage__content--button{
    display: block;
    width: 20%;
    margin: 20px auto;
    background-color: lightskyblue;
    color:white;
}