h1{
    color: #00d1b2
}
.image-link {
    text-decoration: none;
    color: black;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Dodajemo tranziciju za glatki prelaz */
}

.image-link:hover {
    opacity: 0.7; /* Smanjujemo prozirnost prilikom prelaska mišem preko slike */
    transform: scale(0.70); /* Smanjujemo veličinu slike za 5% prilikom prelaska mišem */
    color: black;
}
.footer {
    background-color: #1b263b;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
}
